<div class="sitewrap">
	<header class="header">
		<div class="brand"></div>
		<nav></nav>
	</header>
	<aside class="left-sidebar">
		<nav></nav>
	</aside>
	<main class="main-content">
		<div class="wrapper container-fluid">
			<div class="row">
				<div class="col-md-4">
					<section class="panel">
						<div class="panel-body">
							<h4>Panel Title</h4>
							<p>Panel content goes here.</p>
							<img src="http://placehold.it/350x250/eb007f/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
				<div class="col-md-4">
					<section class="panel">
						<div class="panel-body">
							<h4>Panel Title</h4>
							<p>Panel content goes here.</p>
							<img src="http://placehold.it/350x250/8cc831/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
				<div class="col-md-4">
					<section class="panel">
						<div class="panel-body">
							<h4>Panel Title</h4>
							<p>Panel content goes here.</p>
							<img src="http://placehold.it/350x250/00a6f6/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<section class="panel">
						<div class="panel-heading">
							<h4>Panel Heading Title</h4>
						</div>
						<div class="panel-body">
							<p>Panel body content goes here.</p>
							<img src="http://placehold.it/350x250/00a6f6/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
				<div class="col-md-4">
					<section class="panel">
						<div class="panel-heading">
							<h4>Panel Heading Title</h4>
						</div>
						<div class="panel-body">
							<p>Panel content goes here.</p>
							<img src="http://placehold.it/350x250/eb007f/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
	<div class="right-sidebar">
		<div class="content"></div>
	</div>
</div>
