<div class="sitewrap">
	<header class="header">
		<div class="brand">
			<h1><a href="/" class="logo">FootyPlan<img src="https://cdn.footyplan.com/assets/logo-f018ec861601dda4e77f05549dc1f76e.png" alt="Footy Plan Logo"></a></h1>
		</div>
		<div class="sidebar-toggle">
			<div class="fa fa-bars"></div>
		</div>
		<nav class="notify">
			<ul class="nav">
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">
						<i class="fa fa-flag"></i>
						<span class="badge bg-success">3</span>
					</a>
					<ul class="dropdown-menu">
						<li><p>notification info goes here</p></li>
						<li><p>notification info goes here</p></li>
						<li><p>notification info goes here</p></li>
					</ul>
				</li>
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<i class="fa fa-envelope"></i>
						<span class="badge bg-important">4</span>
					</a>
					<ul class="dropdown-menu">
						<li><p>message 1</p></li>
						<li><p>message 2</p></li>
						<li><p>message 3</p></li>
						<li><p>message 4</p></li>
					</ul>
				</li>
				<li>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<i class="fa fa-bell"></i>
						<span class="badge bg-warning">3</span>
					</a>
					<ul class="dropdown-menu">
						<li><p>notification 1</p></li>
						<li><p>notification 2</p></li>
						<li><p>notification 3</p></li>
					</ul>
				</li>
			</ul>
		</nav>
		<div class="menu-right">
			<ul class="nav">
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<img alt="" src="avatar.jpg">
						<span class="username">John Doe</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><p>Profile</p></li>
						<li><p>Settings</p></li>
						<li><p>Log Out</p></li>
					</ul>
				</li>
				<li><div class="sidebar-toggle">
						<div class="fa fa-question" onclick="Intercom('showNewMessage')"></div>
					</div></li>
				<li>
					<div class="sidebar-toggle">
						<div class="fa fa-comment"></div>
					</div>
				</li>
			</ul>
		</div>
	</header>
	<aside class="left-sidebar">
		<nav class="left-nav">
			<ul class="nav">
				<li><a href="#" class="active"><i class="fa fa-dashboard"></i>Dashboard</a></li>
				<li><a href="#"><i class="fa fa-table"></i>Session Builder</a></li>
				<li><a href="#"><i class="fa fa-envelope"></i>Messenger</a></li>
				<li><a href="#"><i class="fa fa-th-large"></i>Calendar</a></li>
				<li><a href="#"><i class="fa fa-send"></i>Referral Program</a></li>
			</ul>
		</nav>
	</aside>
	<main class="main-content">
		<div class="wrapper container-fluid">
			<div class="row">
				<div class="col-md-4">
					<section class="panel">
						<div class="panel-body">
							<h4>Panel Title</h4>
							<p>Panel content goes here.</p>
							<img src="http://placehold.it/350x250/eb007f/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
				<div class="col-md-4">
					<section class="panel">
						<div class="panel-body">
							<h4>Panel Title</h4>
							<p>Panel content goes here.</p>
							<img src="http://placehold.it/350x250/8cc831/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
				<div class="col-md-4">
					<section class="panel">
						<div class="panel-body">
							<h4>Panel Title</h4>
							<p>Panel content goes here.</p>
							<img src="http://placehold.it/350x250/00a6f6/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<section class="panel">
						<div class="panel-heading">
							<h4>Panel Heading Title</h4>
						</div>
						<div class="panel-body">
							<p>Panel body content goes here.</p>
							<img src="http://placehold.it/500/00a6f6/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
				<div class="col-md-4">
					<section class="panel">
						<div class="panel-heading">
							<h4>Panel Heading Title</h4>
						</div>
						<div class="panel-body">
							<p>Panel content goes here.</p>
							<img src="http://placehold.it/350x250/eb007f/ffffff?text=Footy Graph">
						</div>
					</section>
				</div>
			</div>
		</div>
	</main>
	<div class="right-sidebar">
		<div class="content">
			<h3>Messenger</h3>
		</div>
	</div>
</div>
